<div class="row">
   <div class="col-md-8">
     <div class="media">
       <% if @user.avatar? %>
         <div class="media-left">
           <%= image_tag @user.avatar.url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <ul>
             <li>item no.1</li>
             <li>item no.2</li>
             <li>item no.3</li>
           </ul>
           </small>
       </div>
     </div>
   </div>
 </div>
