<div class="js-items">
<% if user %>
  <%= form_for [user, Item.new], remote: true do |f| %>
    <%= f.text_field :name, placeholder: "Enter item to be done" %>
    <%= f.submit "Save item", class: 'btn btn-success' %>
  <% end %>
<% end %>
</div>
