<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <h4><%= item.name %> | <small>Days until delete: <%= item.days_left %> | <%= link_to "", [item.user, item], method: :delete, class: 'glyphicon glyphicon-check', remote: true %></small></h4>
<% end %>
