<% if @item.destroyed? %>
$('#item-' +<%= @item.id %>).fadeOut('slow');
$('.js-comments-count').html("<%= pluralize(@item.user.items.count, 'item') %>");
<% else %>
$('#item-' +<%= @item.id %>).prepend("<div class='alert-danger'><%= flash[:error] %></div>");
<% end %>
