<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

Do not reply back to this e-mail. (Blocitoff is too busy organizing!)  If you have any questions, please e-mail me, paco, at palmtreerooskee.gmail.com.
